/.jazz5/
/target/
/bin/
*.settings/
*/.jazz5/
*/build/
*/bin/
*/target/
**/*/pmd/
*.class
*.classpath
*.project
.jazzignore
*/.history/*
/clientdb.xml
.metadata/**/segments*
.metadata/**/JBoss*/**
*.iml
.idea/
.tern-project
.attach*
